<ion-view>

	<ion-nav-title>
	{{lang.getS('sHoliday')}}
	</ion-nav-title>
	

  
  <ion-content>

	<ion-toggle ng-model="ui.houseHoliday" toggle-class="toggle-positive">
	<i style="margin:5px" class="icon icon-size-normal ion-briefcase"></i>
	{{lang.getS('sOnHoliday')}}
	</ion-toggle>

	<ion-item >
		<table>
			<tr>
				<td style="vertical-align:middle">
					<i class="icon icon-size-normal ion-thermometer"></i> 
					{{lang.getS('sTemp')}}
				</td>
				<td >
					<div style="display:inline;margin-left:10px;">

						<span class="textDegIntSizeSmall">{{util.getTempInt(ui.houseHolidayTemperature.curTemp)}}</span>
						<span class="textDegFloatSizeSmall" >{{util.getTempFrac(ui.houseHolidayTemperature.curTemp)}}</span>
						<span class="textDegSymbolSizeSmall textDegSymbolSmall" >o</span>

						<button ng-disabled="!util.canTempDown(ui.houseHolidayTemperature)" 
								ng-click="util.doTempDown(ui.houseHolidayTemperature)" 
								on-hold="util.holdTempSetBtn(false, true, ui.houseHolidayTemperature)" 
								on-release="util.holdTempSetBtn(false, false, ui.houseHolidayTemperature)" 
								class="button button-small button-positive button-outline" > 
							<i class="icon ion-minus"></i> 
						</button>

						<button ng-disabled="!util.canTempUp(ui.houseHolidayTemperature)"   
								ng-click="util.doTempUp(ui.houseHolidayTemperature )" 
								on-hold="util.holdTempSetBtn(true, true, ui.houseHolidayTemperature)" 
								on-release="util.holdTempSetBtn(true, false, ui.houseHolidayTemperature)"
								class="button button-small button-positive button-outline" > 
							<i class="icon ion-plus"></i> 
						</button>
					</div>
				</td>
			</tr>
		</table>
	</ion-item>
	
	<ion-item>
		<table>
			<tr>
				<td style="vertical-align:middle">
					<i class="icon icon-size-normal ion-plane"></i>
					{{lang.getS('sRet')}} 
				</td>
				<td >
				<select-wheel min-width="35" useful-length="ui.holidayEnd.daysInCurrentMo" type="1" refresh="ui.holidayEnd.refreshDay" ng-model="ui.holidayEnd.day" item-height="20" amplitude="2" options="ui.holidayEnd.dayOptions" >
				</select-wheel> 
				</td>
				<td >
				<select-wheel min-width="100" type="1" refresh="ui.holidayEnd.refreshMo" ng-model="ui.holidayEnd.mo" item-height="20" amplitude="2" options="ui.holidayEnd.moOptions" >
				</select-wheel> 
				</td>
				<td>
				<select-wheel min-width="35" type="1" refresh="ui.holidayEnd.refreshYear" ng-model="ui.holidayEnd.year" item-height="20" amplitude="2" options="ui.holidayEnd.yearOptions" >
				</select-wheel> 
				</td>
			</tr>
		</table>
	</ion-item>

  </ion-content>
  <ion-footer-bar>

	 <div class="button-bar" >

      <button class="button button-small button-outline button-assertive" 
				ng-click="closeHolidayMode(true)">
				<i class="icon ion-close-round"></i>
	  </button>
	  <button class="button button-small button-outline button-positive" 
				ng-click="closeHolidayModeAndSave()">
				<i class="icon ion-checkmark-round"></i>
	  </button>	
	 </div>
	 
  </ion-footer-bar>
</ion-view>