<ion-modal-view class="modalAutoPilotRange">
  <ion-header-bar>
    <h1 class="title">Interval</h1>

	<div class="buttons">
      <button class="button button-outline icon-right button-assertive button-save" ng-click="closeAutopilotEdit()"><i class="icon icon-size-small ion-close-round"></i></button>
	  <button class="button button-outline icon-right button-positive button-save" ng-click="closeAutopilotEditAndSave()"><i class="icon icon-size-small ion-checkmark-round"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>

	
	<ion-item>
	<table class="tableFull">
	<tr>
		<td style="vertical-align:middle;min-width:70px;width:30%;">
			<i class="icon icon-size-normal ion-thermometer"></i> 
			Temperatura
		</td>
		<td style="vertical-align:middle;text-align:right;">
	
				<span style="vertical-align:bottom;">
				<span class="textDegIntSizeSmall">{{modalAutoPilot.ui.getIntervalTemp_i(modalAutoPilot.editInterval)}},</span>
				<span class="textDegFloatSizeSmall" >{{modalAutoPilot.ui.getIntervalTemp_f(modalAutoPilot.editInterval)}}</span>
				<span class="textDegSymbolSizeSmall textDegSymbolSmall">o</span>
				</span>
			
			<button ng-disabled="!modalAutoPilot.ui.canTempDown(modalAutoPilot.editInterval, modalAutoPilot.th)" ng-click="modalAutoPilot.ui.doTempDown(modalAutoPilot.editInterval, modalAutoPilot.th)" on-hold="" on-release="" class="button button-small button-positive button-outline" > 
				<i class="icon ion-minus"></i> 
			</button>
			
			<button ng-disabled="!modalAutoPilot.ui.canTempUp(modalAutoPilot.editInterval, modalAutoPilot.th)"  ng-click="modalAutoPilot.ui.doTempUp(modalAutoPilot.editInterval, modalAutoPilot.th)" on-hold="" on-release="" class="button button-small button-positive button-outline" > 
				<i class="icon ion-plus"></i> 
			</button>

		</td>
	</tr>
	</table>
	</ion-item>
	
	<ion-item>
	<table class="tableFull">
	<tr>
		<td style="vertical-align:middle;min-width:70px;width:30%;">
		
			<i class="icon icon-size-normal ion-clock"></i>
			De la 
		
		</td>
		<td >
		<!-- refresh="ui.holidayEnd.refreshDay"  -->
		<select-wheel min-width="35" type="1" ng-model="modalAutoPilot.editInterval.startH" item-height="20" amplitude="2" options="modalAutoPilot.ui.hourOptions" >
		</select-wheel> 
		</td>
		<td >
		<select-wheel min-width="35" type="1" ng-model="modalAutoPilot.editInterval.startM" item-height="20" amplitude="2" options="modalAutoPilot.ui.minOptions" >
		</select-wheel> 
		</td>
	</tr>
	</table>
	</ion-item>
	
	<ion-item>
	<table class="tableFull">
	<tr>
		<td style="vertical-align:middle;min-width:70px;width:30%;">
		
			<i class="icon icon-size-normal ion-clock rot90"></i>
			La ora
		
		</td>
		<td >
		<!-- refresh="ui.holidayEnd.refreshDay"  -->
		<select-wheel min-width="35" type="1" ng-model="modalAutoPilot.editInterval.endH" item-height="20" amplitude="2" options="modalAutoPilot.ui.hourOptions" >
		</select-wheel> 
		</td>
		<td >
		<select-wheel min-width="35" type="1" ng-model="modalAutoPilot.editInterval.endM" item-height="20" amplitude="2" options="modalAutoPilot.ui.minOptions" >
		</select-wheel> 
		</td>
	</tr>
	</table>
	</ion-item>
<!--	
	<ion-item>
		t:{{modalAutoPilot.editInterval.t}} sH:{{modalAutoPilot.editInterval.startH}} sM:{{modalAutoPilot.editInterval.startM}}
	</ion-item>
-->	
<!--
	<ion-item>
	 <button style="display:inline" class="button button-positive" ng-click="">Ok</button>
	  <button style="display:inline" class="button" ng-click="closeAutopilotEdit()">Anulare</button>
	</ion-item>
-->	
  </ion-content>
</ion-modal-view>