<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add/Edit Interval</h1>
  </ion-header-bar>
  <ion-content>

	
	<ion-item>
	<div style="display:inline;margin-left:10px;">
								
		<strong><span>
		
		<span class="h3">18</span>
		<span class="h6" style="vertical-align:top;">o</span>
		<span class="h4" style="vertical-align:top;">5</span>
		</span></strong>
	
	<button ng-disabled="false" ng-click="" on-hold="" on-release="" class="button button-small button-positive button-outline" > 
		<i class="icon ion-minus"></i> 
	</button>

	<button ng-disabled="false"   ng-click="" on-hold="" on-release="" class="button button-small button-positive button-outline" > 
		<i class="icon ion-plus"></i> 
	</button>
	</div>
	</ion-item>
	
	<ion-item>
	 <button style="display:inline" class="button button-positive" ng-click="">Ok</button>
	  <button style="display:inline" class="button" ng-click="closeAutopilotEdit()">Anulare</button>
	</ion-item>
  </ion-content>
</ion-modal-view>