<ion-modal-view class="modalAutoPilotRange">
  <ion-header-bar>
    <h1 class="title">{{lang.getS('sSetTitle')}}</h1>

	<div class="buttons">
      <button class="button button-outline icon-right button-assertive button-save" ng-click="closeTHSettings(true)"><i class="icon icon-size-small ion-close-round"></i></button>
	  <button class="button button-outline icon-right button-positive button-save" ng-click="closeTHSettingsAndSave()"><i class="icon icon-size-small ion-checkmark-round"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>

	<label class="item item-input item-stacked-label">
		<i style="margin:5px" class="icon icon-size-normal ion-at"></i>
		<span class="input-label">Nume</span>
		<input class="textInput" type="text" placeholder="{{houseTH[uiOpenedTH].title}}" ng-model="houseTH[uiOpenedTH].title"></input>
	</label>
	
	<ion-item>
	<table class="tableFull">
	<tr>
		<td style="vertical-align:middle;min-width:70px;width:30%;">
			<i class="icon icon-size-normal ion-thermometer"></i> 
			Temperatura  Min.
		</td>
		<td style="vertical-align:middle;text-align:right;">
	
			<span style="vertical-align:bottom;">
				<span class="textDegIntSizeSmall">{{util.getTempInt(modalSettings.tempMin)}}</span>
				<span class="textDegFloatSizeSmall">{{util.getTempFrac(modalSettings.tempMin)}}</span>
				<span class="textDegSymbolSizeSmall textDegSymbolSmall">o</span>
			</span>
			
			<button ng-disabled="!util.canTempDown(modalSettings.tempMin, 0)" 
					ng-click="util.doTempDown(modalSettings.tempMin, 0)" 
					on-hold="" on-release="" class="button button-small button-positive button-outline" > 
				<i class="icon ion-minus"></i> 
			</button>
			
			<button ng-disabled="!modalSettings.ui.canTempUp(modalSettings.tempMin, modalSettings.tempMax - 0.5)" 
					ng-click="modalSettings.ui.doTempUp(modalSettings.tempMin, modalSettings.tempMax - 0.5)" 
					on-hold="" on-release="" class="button button-small button-positive button-outline" > 
				<i class="icon ion-plus"></i> 
			</button>

		</td>
	</tr>
	</table>
	</ion-item>
	
	<ion-item>
	<table class="tableFull">
	<tr>
		<td style="vertical-align:middle;min-width:70px;width:30%;">
			<i class="icon icon-size-normal ion-thermometer"></i> 
			Temperatura  Max.
		</td>
		<td style="vertical-align:middle;text-align:right;">
	
			<span style="vertical-align:bottom;">
				<span class="textDegIntSizeSmall">{{util.getTempInt(modalSettings.tempMax)}}</span>
				<span class="textDegFloatSizeSmall">{{util.getTempFrac(modalSettings.tempMax)}}</span>
				<span class="textDegSymbolSizeSmall textDegSymbolSmall">o</span>
			</span>
			
			<button ng-disabled="!util.canTempDown(modalSettings.tempMax, modalSettings.tempMin + 0.5)" 
					ng-click="util.doTempDown(modalSettings.tempMax, modalSettings.tempMin + 0.5)" 
					on-hold="" on-release="" class="button button-small button-positive button-outline" >  
				<i class="icon ion-minus"></i> 
			</button>
			
			<button ng-disabled="!modalSettings.ui.canTempUp(modalSettings.tempMax, 33)" 
					ng-click="modalSettings.ui.doTempUp(modalSettings.tempMax, 33)" 
					on-hold="" on-release="" class="button button-small button-positive button-outline" > 
				<i class="icon ion-plus"></i> 
			</button>

		</td>
	</tr>
	</table>
	</ion-item>

	<label class="item item-input item-stacked-label">
		<i style="margin:5px" class="icon icon-size-normal ion-ios-grid-view-outline"></i>
		<span class="input-label">Id</span>
		<input class="textInput" type="text" placeholder="{{houseTH[uiOpenedTH].sensorId}}" ng-disabled="true"  ng-model="houseTH[uiOpenedTH].sensorID"></input>
	</label>

	<!--
	<label class="item item-input item-select">
		<i style="margin:5px" class="icon icon-size-normal ion-ios-location-outline"></i>
		<div class="input-label">
		Locatie
		</div>
		
		 <select name="setTHLocation" id="setTHLocation"
			ng-options="option.name for option in modalAutoPilot.ui.sensorLocationOptions track by option.id"
			ng-model="houseTH[uiOpenedTH].sensorLocation"></select>
		
	</label>

	<label class="item item-input item-select">
		<i style="margin:5px" class="icon icon-size-normal ion-ios-flame-outline"></i>
		<div class="input-label">
		Centrala deservita
		</div>
		<select>
		  <option selected>Centrala</option>
		  <option>Centrala2</option>
		</select>
	</label>	
	
	-->

  </ion-content>
</ion-modal-view>