<ion-view view-title="{{lang.getS('sHome')}}">

    <ion-content has-bouncing="true">
	
	 <ion-list>

		<ion-item style="font-size: 2em;" item-icon-left href="#/app/house/lights">
			<i class="icon ion-android-bulb"></i>
			{{lang.getS('sLights')}}
        </ion-item>		
		
		<ion-item style="font-size: 2em;" item-icon-left menu-close href="#/app/house/thermo">
			<i class="icon ion-thermometer"></i>
			{{lang.getS('sHeating')}}
        </ion-item>	
		
		<ion-item style="font-size: 2em;" item-icon-left menu-close href="#/app/house/fmradio">
			<i class="icon ion-ios-camera-outline"></i>
			{{lang.getS('sFMRadio')}}
        </ion-item>	

        <ion-item style="font-size: 2em;" item-icon-left menu-close href="#/app/house/settings">
			<i class="icon ion-android-options"></i>
			{{lang.getS('sSetTitle')}}
        </ion-item>

        <ion-item style="font-size: 2em;" item-icon-left menu-close href="#/app/house/tests">
			<i class="icon ion-erlenmeyer-flask"></i>
			{{lang.getS('sTests')}}
        </ion-item>
		
		<ion-item style="font-size: 2em;" item-icon-left menu-close href="#/app/house/log">
			<i class="icon ion-ios-book-outline"></i>
			{{lang.getS('sLog')}}
        </ion-item>

	   </ion-list>
    </ion-content>
</ion-view>