<ion-view view-title="Acasa">

    <ion-content has-bouncing="true">
	
	 <ion-list>

		<ion-item style="font-size: 2em;" item-icon-left href="#/app/house/lights">
			<i class="icon ion-android-bulb"></i>
			Lumini
        </ion-item>		
		
		<ion-item style="font-size: 2em;" item-icon-left menu-close href="#/app/house/thermo">
			<i class="icon ion-thermometer"></i>
			Climatizare
        </ion-item>	
		
		<ion-item style="font-size: 2em;" item-icon-left menu-close href="#/app/house/fmradio">
			<i class="icon ion-ios-camera-outline"></i>
			Radio FM
        </ion-item>	

        <ion-item style="font-size: 2em;" item-icon-left menu-close href="#/app/house/settings">
			<i class="icon ion-android-options"></i>
			Setari
        </ion-item>

        <ion-item style="font-size: 2em;" item-icon-left menu-close href="#/app/house/tests">
			<i class="icon ion-erlenmeyer-flask"></i>
			Teste
        </ion-item>
		
		<ion-item style="font-size: 2em;" item-icon-left menu-close href="#/app/house/log">
			<i class="icon ion-ios-book-outline"></i>
			Log
        </ion-item>

	   </ion-list>
    </ion-content>
</ion-view>