<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Light Settings</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLight()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="setLight()">
      <div class="list">
        <label class="item">
			<ionslider  type="double" grid=true min="0" max="modalLight.light.maxDim" from="modalLight.light.minDim" 
						to="modalLight.light.curDim" 
						on-change="rangeChangeCallback_dim" on-finish="rangeFinishCallback_dim"></ionslider>
        </label>
		
		<label class="item">
 			<ionslider  type="single" grid=true min="modalLight.light.minSpeed" max="modalLight.light.maxSpeed" from="modalLight.light.curSpeed" 
						on-change="rangeChangeCallback_speed" on-finish="rangeFinishCallback_speed"></ionslider>         
        </label>
		
		<label class="item">
 			<ionslider  type="single" grid=true min="modalLight.light.minTimeOn" max="modalLight.light.maxTimeOn" from="modalLight.light.curTimeOn" 
						on-change="rangeChangeCallback_TimeOn" on-finish="rangeFinishCallback_TimeOn"></ionslider>         
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Done</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>