<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{modalLight.title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLight()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="sendToServer()">
      <ion-list>
	
<div ng-repeat="lightParam in modalLight.light.params">  
		<ion-item data-tap-disabled="true" class="item-divider"  ng-class="{active: isSettingsShown({{lightParam.id}})}">
              <i ng-click="toggleSettings({{lightParam.id}})" class="icon" ng-class="isSettingsShown({{lightParam.id}}) ? 'ion-minus' : 'ion-plus'"></i>
           {{lightParam.title}}
			<i  ng-click="doUp({{lightParam.id}})" class="icon ion-arrow-up-a"></i> 
			<strong>{{lightParam.cur}}</strong>
			<i ng-click="doDown({{lightParam.id}})"class="icon ion-arrow-down-a"></i> 
        </ion-item>
	  
        <ion-item class="item-accordion" ng-show="isSettingsShown({{lightParam.id}})">
			<ionslider id="{{lightParam.id}}" prefix="{{lightParam.title}}" type="single" grid=true min="lightParam.min" max="lightParam.max" from="lightParam.cur" 
						on-change="rangeChangeCallback" on-finish="rangeChangeCallback"></ionslider>
        </ion-item >
</div>		

<ion-item>
	{{serverAnswer}}
</ion-item>

<ion-item>
 <button style="display:inline" class="button button-positive" ng-click="sendToServer()">Send</button>
  <button style="display:inline" class="button" ng-click="closeLight()">Cancel</button>
</ion-item>
		
      </ion-list>
    </form>
  </ion-content>
</ion-modal-view>