<ion-view view-title="Light Control">

    <ion-content>
	
	 <ion-list>
		
		<ion-item class="item-divider">Intensity: {{data.dimMax}}</ion-item>
		
		<ion-item >
			<input type="range" name="dimMax" ng-model="data.dimMax"> </input>
		</ion-item>	
		

	
<!--
	<ion-toggle ng-model="manualControl" toggle-class="toggle-calm">Manual control</ion-toggle>
-->

		<ion-item class="item-divider" ng-click="toggleSettings()" ng-class="{active: isSettingsShown()}">
              <i class="icon" ng-class="isSettingsShown() ? 'ion-minus' : 'ion-plus'"></i>
            Settings
        </ion-item>
		  
        <ion-item class="item-accordion" ng-show="isSettingsShown()">
            <input type="range" name="dimMax" ng-model="data.dimMax"></input>
        </ion-item>
		
		<ion-item class="item-accordion" ng-show="isSettingsShown()">
           <input type="range" id="example_id" name="dimMax" value="{{data.dimMax}}" ng-model="data.dimMax"></input>
        </ion-item>
		
		<ion-item class="item-accordion" ng-show="isSettingsShown()">
           <ionslider  type="single"
						grid=true
						min="model.min"
						max="model.max"
						from="data.dimMax"
						
						disable="model.disabled"
						on-change="rangeChangeCallback"
						on-finish="rangeFinishCallback"></ionslider>
        </ion-item>

	   </ion-list>
    </ion-content>
</ion-view>
