<ion-view >
	<ion-nav-title>
	{{lang.getS('sLog')}}
	</ion-nav-title>
  <ion-content scroll="true" has-bouncing="true">

	<pre>{{getLogText()}}</pre>	
	
	<!--
		<br/>
		<pre>{{getLogText()}}</pre>	
	-->
	
  </ion-content>
  <ion-footer-bar>
	 <div class="button-bar" >
		<a href="{{'data:attachment/txt,' + getLogTextSafe()}}" download="homeAppLog.log" target="_blank" 
			class="button button-small button-outline button-assertive">
			<i class="icon  ion-ios-download-outline"></i>
		</a>
	 </div>
  </ion-footer-bar>  
  
</ion-view>