<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu drag-content="false" side="left" expose-aside-when="(min-width:800px)">
    <ion-header-bar class="bar-positive">
      <h1 class="title">HomeApp</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>	  
	  
	   <ion-item item-icon-left menu-close href="#/app/house">
			<i class="icon ion-home"></i>
		Acasa
       </ion-item>	

        <ion-item item-icon-left menu-close href="#/app/house/lights">
			<i class="icon ion-android-bulb"></i>
		
        Lumini
        </ion-item>		
		
		<ion-item item-icon-left menu-close href="#/app/house/thermo">
			<i class="icon ion-thermometer"></i>
		
        Incalzire / AC
        </ion-item>	
		
		<ion-item item-icon-left menu-close href="#/app/house/fmradio">
			<i class="icon ion-ios-camera-outline"></i>
		
        Radio FM
        </ion-item>	

        <ion-item item-icon-left menu-close href="#/app/house/tests">
		<i class="icon ion-erlenmeyer-flask"></i>
		
        Teste
        </ion-item>
        <ion-item item-icon-left menu-close href="#/app/house/settings">
		<i class="icon ion-android-options"></i>
		
        Setari
        </ion-item>
		
		<ion-item item-icon-left menu-close href="#/app/house/log">
			<i class="icon ion-ios-book-outline"></i>
		Log
        </ion-item>
		
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
