<ion-modal-view class="modalAutoPilot">
  <ion-header-bar>
    <h1 class="title">/Graph</h1>
  </ion-header-bar>
 
  <ion-content>
  

<table class="tableFull alignCenter">
<tr>
<td colspan="3">
  	 <div class="button-bar" >
 
 <!-- ng-model="gr.checked" -->
	<div ng-repeat="gr in modalChart.chartDev.chartSeries">
		<button ng-click="gr.checked = !gr.checked;modalChart.processDevChart(modalChart.chartDev, gr.name)" 
			class="button button-clear" 
			style="text-decoration:{{gr.checked?'underline':'none'}};font-weight:bold;color:{{modalChart.chartDev.chartColours[$index].strokeColor}}">{{gr.name}}</button>
	</div>
	</div>
</td>	
</tr>
<tr>
	 
	 <td style="vertical-align:middle" ng-click="modalChart.chartDev.chartStartDate -= modalChart.chartDev.chartDecimation * 60 * 20;">
	 		<button class="button button-small button-outline button-assertive">
			<i  class="icon ion-ios-arrow-left"></i>			
		</button>
		<p>{{modalChart.chartDev.chartStartDate}}</p>
	 </td>
	<td>
            <canvas class="chart chart-line" 
					chart-data="modalChart.chartDev.chartActiveData" 
					chart-labels="modalChart.chartDev.chartLabels" 
					chart-legend="false" 
					chart-series="modalChart.chartDev.chartActiveSeries" 
					chart-colours="modalChart.chartDev.chartActiveColours" 
					chart-options="{responsive: true, animation: true, bezierCurve:true, showTooltips: false}">
			</canvas>
	</td>		
	<td style="vertical-align:middle" ng-click="modalChart.chartDev.chartStartDate += modalChart.chartDev.chartDecimation * 60 * 20;">
	 		<button 
			class="button button-small button-outline button-assertive">
			<i  class="icon ion-ios-arrow-right"></i>			
		</button>
		<p>{{modalChart.chartDev.chartStartDate + modalChart.chartDev.chartDecimation * 60 * 20}}</p>
	 </td>
</tr>	 
</table>

	 </ion-content>
	
  
  	<ion-footer-bar>

	 <div class="button-bar" >
		<button ng-click="getDeviceLogs(modalChart.chartDev, 1)"
			class="button button-small button-outline button-assertive">
			1m
		</button>
		<button ng-click="getDeviceLogs(modalChart.chartDev, 5)"
			class="button button-small button-outline button-assertive">
			5m
		</button>
		<button ng-click="getDeviceLogs(modalChart.chartDev, 10)"
			class="button button-small button-outline button-assertive">
			10m
		</button>
		<button ng-click="getDeviceLogs(modalChart.chartDev, 30)"
			class="button button-small button-outline button-assertive">
			30m
		</button>
		<button ng-click="getDeviceLogs(modalChart.chartDev, 60)"
			class="button button-small button-outline button-assertive">
			1h
		</button>

	 </div>
	 

  	</ion-footer-bar>
</ion-modal-view>