<ion-modal-view class="modalAutoPilot">
  <ion-header-bar>
    <h1 class="title">/Graph</h1>
  </ion-header-bar>
 
  <ion-content>
			
            <canvas class="chart chart-line" 
					chart-data="modalChart.chartDev.chartData" 
					chart-labels="modalChart.chartDev.chartLabels" 
					chart-legend="true" 
					chart-series="modalChart.chartDev.chartSeries" 
					chart-options="{animation: false, bezierCurve:false, showTooltips: false}"></canvas>

  </ion-content>
  
  <ion-footer-bar>

	 <div class="button-bar" >
		<button ng-click="getDeviceLogs(modalChart.chartDev, 1)"
			class="button button-small button-outline button-assertive">
			20m
		</button>
		<button ng-click="getDeviceLogs(modalChart.chartDev, 3)"
			class="button button-small button-outline button-assertive">
			1h
		</button>
		<button ng-click="getDeviceLogs(modalChart.chartDev, 9)"
			class="button button-small button-outline button-assertive">
			3h
		</button>
		<button ng-click="getDeviceLogs(modalChart.chartDev, 32)"
			class="button button-small button-outline button-assertive">
			12h
		</button>
		<button ng-click="getDeviceLogs(modalChart.chartDev, 64)"
			class="button button-small button-outline button-assertive">
			24h
		</button>
		<button ng-click="deleteDeviceLogs(modalChart.chartDev)"
			class="button button-small button-outline button-assertive">
			<i class="icon  ion-trash-a"></i>
		</button>
	 </div>
	 
  </ion-footer-bar>
</ion-modal-view>