<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Program {{modalAutoPilotProgram.title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeProgram()">Inchide</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="">
	
	<ion-item>
	<div class="button-bar" >
	  <a ng-class="{'button-outline':modalAutopilot.weekday == 0, 'select-selection-text':modalAutopilot.curWeekDay == 0}" ng-click="modalAutopilot.weekday=0" class="button button-weekday">Lu</a>
	  <a ng-class="{'button-outline':modalAutopilot.weekday == 1 , 'select-selection-text':modalAutopilot.curWeekDay == 1}" ng-click="modalAutopilot.weekday=1" class="button button-weekday">Ma</a>
	  <a ng-class="{'button-outline':modalAutopilot.weekday == 2, 'select-selection-text':modalAutopilot.curWeekDay == 2}" ng-click="modalAutopilot.weekday=2" class="button button-weekday">Mi</a>
	  <a ng-class="{'button-outline':modalAutopilot.weekday == 3, 'select-selection-text':modalAutopilot.curWeekDay == 3}" ng-click="modalAutopilot.weekday=3" class="button button-weekday">Jo</a>
	<!--  <a ng-class="modalAutopilot.weekday == 4?'button-outline':'' modalAutopilot.curWeekDay == 0?'select-selection-text':''" ng-click="modalAutopilot.weekday=4" class="button button-weekday">Vi</a>
	  <a ng-class="modalAutopilot.weekday == 5?'button-outline':'' modalAutopilot.curWeekDay == 0?'select-selection-text':''" ng-click="modalAutopilot.weekday=5" class="button button-weekday">Sa</a>  
	  <a ng-class="modalAutopilot.weekday == 6?'button-outline':'' modalAutopilot.curWeekDay == 0?'select-selection-text':''" ng-click="modalAutopilot.weekday=6" class="button button-weekday">Du</a>  
	-->
	</div>
<!--
<table><tr>
		<td><button style="display:inline" class="button button-clear button-small" ng-click="">Lu</button>
		</td><td><button style="display:inline" class="button button-clear button-medium" ng-click="">Ma</button>
		</td><td><button style="display:inline" class="button button-clear button-medium" ng-click="">Mi</button>
		</td><td><button style="display:inline" class="button button-clear" ng-click="">Jo</button>
		</td><td><button style="display:inline" class="button button-clear" ng-click="">Vi</button>
		</td><td><button style="display:inline" class="button button-clear" ng-click="">Sa</button>
		</td><td><button style="display:inline" class="button button-clear" ng-click="">Du</button>
		</td>
</tr>		
</table>
-->
	</ion-item>
	
      <ion-list>
	  
	  
	<!--
<div  ng-repeat="lightParam in modalLight.light.params">  
		<ion-item style="vertical-align: middle;" class="item-divider"  ng-class="{active: isSettingsShown({{lightParam.id}})}">
		
		<button ng-click="toggleSettings({{lightParam.id}})" class="button button-small button-outline">
  <i  class="icon" ng-class="isSettingsShown({{lightParam.id}}) ? 'ion-minus' : 'ion-plus'"></i>
</button>
              
           {{lightParam.title}}
		   
		   <button ng-click="doUp({{lightParam.id}})" class="button button-small button-outline">
			<i   class="icon ion-arrow-up-a"></i> 
			</button>
			<strong>{{lightParam.cur}}</strong>
			
			<button ng-click="doDown({{lightParam.id}})" class="button button-small button-outline">
			<i class="icon ion-arrow-down-a"></i> 
			</button>
        </ion-item>
	  
        <ion-item class="item-accordion" ng-show="isSettingsShown({{lightParam.id}})">
			<ionslider id="{{lightParam.id}}" prefix="{{lightParam.title}}:" type="single" grid=true min="lightParam.min" max="lightParam.max" from="lightParam.cur" 
						on-change="rangeChangeCallback" on-finish="rangeChangeCallbackFinish"></ionslider>
        </ion-item >
</div>		
-->

	<ion-item>
	 <button style="display:inline" class="button button-positive" ng-click="">Ok</button>
	  <button style="display:inline" class="button" ng-click="closeProgram()">Anulare</button>
	</ion-item>
	
      </ion-list>
    </form>
  </ion-content>
</ion-modal-view>