<ion-view view-title="{{settingsLang.getS('sSetTitle')}}">
  <ion-content>
   	    <ion-list>	
			<label class="item item-input item-stacked-label">
				<i style="margin:5px" class="icon icon-size-normal ion-paper-airplane"></i>
				<span class="input-label">{{settingsLang.getS('sBaseIP')}}</span>
				<input style="display:inline" type="text" placeholder="{{settings.serverURL}}" ng-model="settings.serverURL"></input>
			</label>
			
			<ion-toggle ng-model="settings.houseHoliday" toggle-class="toggle-positive" >
				<table style="width:100%;disaplay:block;" ng-click="editHoliday();">
					<tr>
						<td style="text-align:left;" >
							<i style="margin:5px" class="icon icon-size-normal ion-briefcase"></i>
							<strong>{{settingsLang.getS('sHoliday')}}</strong>
						</td>
						<!--
						<td style="text-align:right;">
							<button class="button button-small button-outline button-positive">
								<i  class="icon ion-more"></i>
							</button>
						</td>
						-->
					</tr>
					<tr>
						<td >
							<span ng-show="settings.houseHoliday">
								<span class="textDegIntSizeMicro">{{util.getTempInt(settings.houseHolidayTemperature)}}</span>
								<span class="textDegFloatSizeMicro">{{util.getTempFrac(settings.houseHolidayTemperature)}}</span>
								<span class="textDegSymbolSizeMicro textDegSymbolMicro">o</span>C 
								{{settingsLang.getS('sUntilHoliday')}} 
								{{ui.holidayEnd.dayOptions[ui.holidayEnd.real_day]}} 
								{{settingsLang.getS(ui.holidayEnd.moOptions[ui.holidayEnd.real_mo])}} 
								{{ui.holidayEnd.yearOptions[ui.holidayEnd.real_year]}}
							</span>
							
							<span ng-show="!settings.houseHoliday">
								{{settingsLang.getS('sInactiveHoliday')}}
							</span>
						</td>
					</tr>
				</table>
			</ion-toggle>

			<ion-item>
			<table>
			<tr>
				<td style="vertical-align:middle">
					<i class="icon icon-size-normal ion-plane"></i>
					{{settingsLang.getS('sLanguage')}}
				</td>
				<td >
				<select-wheel min-width="35" type="1" refresh="ui.lang.refreshLang" ng-model="ui.lang.langId" item-height="20" amplitude="2" options="ui.lang.langOptions" >
				</select-wheel> 
				</td>

			</tr>
			</table>

			</ion-item>

			<ion-item>
				<button class="button" ng-click="defaultSettingsConfirm()"><i  class="icon ion-ios-undo-outline"></i>{{settingsLang.getS('sFactorySettings')}}</button>
			</ion-item>
		</ion-list>	
	</ion-content>
</ion-view>