<ion-view view-title="Setari">

<!--
  <ion-header-bar class="bar-subheader item-input-inset">
    <span style="width:100%; text-align:right">
    <button class="button" ng-click="defaultSettings()"><i  class="icon ion-ios-undo-outline"></i>Setari Fabrica</button>
	<button class="button button-positive" ng-click="saveSettings()"><i  class="icon ion-ios-download-outline"></i>Salvare</button>
    </span>
  </ion-header-bar>
  -->
  
  <ion-content>
   	    <ion-list>	
			<label class="item item-input item-stacked-label">
				<i style="margin:5px" class="icon icon-size-normal ion-paper-airplane"></i>
				<span class="input-label">Baza</span>
				<input style="display:inline" type="text" placeholder="{{settings.serverURL}}" ng-model="settings.serverURL"></input>
			</label>
			
			<ion-toggle ng-model="settings.houseHoliday" toggle-class="toggle-positive">
				<table style="width:80%" >
				<tr>

				<td style="text-align:left;" >
					<i style="margin:5px" class="icon icon-size-normal ion-briefcase"></i>
					<strong>Mod Vacanta</strong>
				</td>
				</tr>
				<tr>
				<td >
					<span ng-show="settings.houseHoliday">
						{{ui.getHolidayTemp()}}* pana pe 
						{{ui.holidayEnd.dayOptions[ui.holidayEnd.day]}} 
						{{ui.holidayEnd.moOptions[ui.holidayEnd.mo]}} 
						{{ui.holidayEnd.yearOptions[ui.holidayEnd.year]}}
					</span>
					
					<span ng-show="!settings.houseHoliday">
						Dezactivat
					</span>
				</td>
				</tr>
				</table>
			</ion-toggle>

			<ion-item>
				<button class="button" ng-click="defaultSettingsConfirm()"><i  class="icon ion-ios-undo-outline"></i>Setari Fabrica</button>
			</ion-item>
		</ion-list>	
	</ion-content>
</ion-view>