<ion-view view-title="Temperature">
  <ion-content>
  	<ion-list>
		<div ng-repeat="th in houseTH">
		<ion-toggle class="item-divider" ng-model="th.autoPilotOn" toggle-class="toggle-positive">
					
			<div style="display:inline-table;">
				<button style="display:inline;" ng-click="uiToggleShowTH(th.id)" class="button button-small button-outline">
						<i  class="icon" ng-class="uiOpenedTH==th.id ? 'ion-minus' : 'ion-plus'"></i>
				</button>
			</div>
			
			<div style="display:inline-table;padding-left:10px;width:100%">
			
				<div style="display:inline-block;width:18%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
					{{th.title}} 
				</div>
							
				<div ng-show="th.autoPilotOn" style="display:inline;">
						<p style="display:inline;"><i class="icon icon-size-normal ion-ios-timer-outline"></i></p>
						
						
						<strong><span class="h2">{{getThermoSetTemp_Int(th.id)}}°</span><span class="h4">{{getThermoSetTemp_Frac(th.id)}}</span></strong>
						
					
						<button ng-disabled="!canTempDown(th.id)" ng-click="doTempDown(th.id)" on-hold="holdTempSetBtn(false, true, th.id)" on-release="holdTempSetBtn(false, false, th.id)" class="button button-small button-positive button-outline" > 
							<i class="icon ion-arrow-down-a"></i> 
						</button>

						<button ng-disabled="!canTempUp(th.id)"   ng-click="doTempUp(th.id)" on-hold="holdTempSetBtn(true, true, th.id)" on-release="holdTempSetBtn(true, false, th.id)" class="button button-small button-positive button-outline" > 
							<i class="icon ion-arrow-up-a"></i> 
						</button>
				</div>
				
				<p ng-show="!th.autoPilotOn" style="display:inline;">
					Oprit
				</p>
				
				

				<p style="display:list-item;">
					<i class="icon ion-thermometer"></i>  
					<strong>{{getThermoSensorTemp(th.id, 0)}}</strong> 
					<i style="margin-left:10px" class="icon ion-waterdrop"></i>
					<strong>{{getThermoSensorRH(th.id)}}</strong>
				</p>
				
				
			
			</div>

		</ion-toggle>

		<ion-item class="item-accordion" ng-show="uiOpenedTH==th.id" >
			<span style="display:inline;float:left"><i class="icon icon-size-normal ion-ios-timer-outline"></i>
			<span style="margin-left:10px">Program</span>
			</span>
			
			<div style="display:inline;float:right">
				<p style="display:inline;">{{getThermoAutoPilotDescr(th.id)}}</p>
				<button ng-click="showAutopilotSettings(th.id)" class="button button-small button-outline">
					<i  class="icon ion-plus"></i>
				</button>
			</div>
		</ion-item>
		
		<ion-item class="item-accordion" ng-show="uiOpenedTH==th.id">

			<span style="display:inline;float:left"> 
				<i class="icon icon-size-normal ion-image"></i>
				<span style="margin-left:10px">Stare</span>
			</span>

			
			<div style="display:inline;float:right">
				<p style="display:inline;">incalzire 0.5°/h</p>
				<button ng-click="showRHMoreInfo(th.id)" class="button button-small button-outline">
					<i  class="icon ion-plus"></i>
				</button>
			</div>

		</ion-item>
		
		<ion-item class="item-accordion" ng-show="uiOpenedTH==th.id">

			<span style="display:inline;float:left"> 
				<i class="icon icon-size-normal ion-heart"></i>
				<span style="margin-left:10px">Sanatate </span>
				
			</span>
			
			<div style="display:inline;float:right">
				<p style="display:inline;">{{getHealthyDescrRH(th.id)}}</p>
				<button ng-click="showRHMoreInfo(th.id)" class="button button-small button-outline">
					<i  class="icon ion-information"></i>
				</button>
			</div>

		</ion-item>
		
		<ion-item class="item-accordion" ng-show="uiOpenedTH==th.id">
			
			<span style="display:inline;float:left"> 
				<i class="icon icon-size-normal ion-android-settings"></i> 
				<span style="margin-left:10px">Setari </span>
			</span>
			
			<p style="display:inline;float:right">
				<button ng-click="showTHSettings(th.id)" class="button button-small button-outline">
					<i  class="icon ion-plus"></i>
				</button>
			</p>
			
		</ion-item>
	</div>
	
	<div ng-repeat="heater in houseHeat">
		<ion-item class="item-divider" >
			
			<div style="display:inline;">
				<button style="display:inline;" ng-click="uiToggleShowHeater(heater.id)" class="button button-small button-outline">
						<i  class="icon" ng-class="uiOpenedHeater==heater.id ? 'ion-minus' : 'ion-plus'"></i>
				</button>
			</div>
			
			<div style="display:inline-table;padding-left:10px;width:80%">
			
				<div style="display:inline-block;width:20%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
					{{heater.title}} 
				</div>
			
				<div  style="display:inline;">
						<p style="display:inline;"><i class="icon icon-size-normal ion-flame"></i></p>
						<strong>PORNIT</strong> 
				</div>

				<p  style="display:list-item;">	
					<i class="icon ion-android-warning"></i>  
					<strong>Normal</strong> 
					<i style="margin-left:10px" class="icon ion-flame"></i>
					<strong>130 min astazi</strong>				
				</p>
			
			</div>

		</ion-item>

		
	</div>

	</ion-list>
  
	
	</ion-content>
</ion-view>
