<ion-view view-title="Temperature">
  <ion-content>
  	<ion-list>
		
		<div ng-repeat="th in houseTH">
		<ion-item class="item-divider">
			
			<span style="display:inline;float:left">{{th.title}} : <strong>{{getThermoSensorTemp(th.id)}}</strong>
				{{getThermoHeaterActivity(th.id)}} 
				
				<!-- on-hold="holdTempUp(th.id, true) on-release="holdTempUp(th.id, false)" -->
				
				<button ng-disabled="!canTempUp(th.id)"   ng-click="doTempUp(th.id)" class="button button-icon button-small" > <i class="icon ion-android-add-circle"></i> </button>
				
				<strong>{{getThermoSetTemp(th.id)}}</strong> 
				
				<button ng-disabled="!canTempDown(th.id)" ng-click="doTempDown(th.id)" class="button button-icon button-small" > <i class="icon ion-android-remove-circle"></i> </button>
			</span>
			
			<p style="display:inline;float:right">({{getThermoAutoPilotDescrSimple(th.id)}})</p>
			
			
			
		</ion-item>
		<ion-toggle ng-model="th.autoPilotOn" toggle-class="toggle-positive">
			
			<span style="display:inline;float:left">Autopilot</span>
			<p style="display:inline;float:right">{{getThermoAutoPilotDescr(th.id)}}</p>
			
		</ion-toggle>
		
		<!--
		<ion-item >
		
		<div  style="display:inline;float:left">
			<div>Now: <strong>{{getThermoSensorTemp(th.id)}}</strong> <p style="display:inline">({{textTimestamp(th.timestamp)}} ago)</p></div>
			<div style="display:block">
					Target: <span ><strong>{{getThermoSetTemp(th.id)}}</strong></span>
							
			</div>
			
		</div>
		
		<div style="display:inline;float:auto">
			<circular-slider shape='Circle' border-Width="2" indicator-ball-ratio=".33" touch="true" animate='true' on-slider-mouse-up='onSliderMouseUp' on-try-slide='onTrySlide'on-slide='onSlide' set-callback='sliderCallback' on-slide-end='onSlideEnd' min="myui.min" max="myui.max" value="myui.value">
				{{text_value}}
			</circular-slider>
		</div>
		-->
		
		</ion-item >
</div>

	</ion-list>
  
  <!--
  <ion-list>
   	    
	<ion-item class="item-divider">Bedroom</ion-item>
	

	
	<ion-item>

		<span style="float:left;height:100%;">
		
			<span >
				Now: <strong>{{getThermoSensorTemp()}}</strong> 
			</span>
			<span style="display:block">&nbsp;</span>
			<span style="display:block">
				<span>Target</span>
				<button style="display:block" ng-click="doTempUp()" class="button button-icon" > <i class="icon ion-arrow-up-a"></i> </button>
				<span style="display:block"><strong>{{getThermoSetTemp()}}</strong></span>
				<button style="display:block" ng-click="doTempDown()" class="button button-icon" > <i class="icon ion-arrow-down-a"></i> </button>
			</span>
		
		</span>	

		<span style="display:inline;float:auto">
			<circular-slider shape='Circle' border-Width="2" indicator-ball-ratio=".33" touch="true" animate='true' on-slider-mouse-up='onSliderMouseUp' on-try-slide='onTrySlide'on-slide='onSlide' set-callback='sliderCallback' on-slide-end='onSlideEnd' min="myui.min" max="myui.max" value="myui.value">
				{{text_value}}
			</circular-slider>
		</span>
		

		
	</ion-item>
	
	</ion-list>	
	-->
	
	</ion-content>
</ion-view>
