<ion-view view-title="Temperature">
  <ion-content>
  	<ion-list>
		<div ng-repeat="th in houseTH">
		<ion-toggle class="item-divider" ng-model="th.autoPilotOn" toggle-class="toggle-positive">
					
			<table style="width:100%">
			
				<tr>
					<td rowspan="2" style="vertical-align:middle">
						<button style="display:inline;" ng-click="uiToggleShowTH(th.id)" class="button button-small button-outline">
							<i  class="icon" ng-class="uiOpenedTH==th.id ? 'ion-minus' : 'ion-plus'"></i>
						</button>
					</td>
					
					<td > <!-- vertical-align="center" -->
						<!-- <div style="display:inline-block;width:100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"> -->
							<span class="h3">
							{{th.title}} 
							</span>
						<!--</div>-->
					</td>
					
					<td style="text-align:right;"> <!-- rowspan="2" -->
						<div style="display:inline;">
							<!--<p style="display:inline;"><i class="icon icon-size-normal ion-ios-timer-outline"></i></p>-->
							
							<!--
							<select-wheel ng-model="th.ui.index" item-height="20" amplitude="2" options="monthOptions" ></select-wheel>
							-->
							
							<strong><span>
							
							<span class="h2 ng-class:!th.autoPilotOn?'text-disabled':'';">{{getThermoSetTemp_Int(th.id)}}</span>
							<span class="h5 ng-class:!th.autoPilotOn?'text-disabled':'';" style="vertical-align:top;">o</span>
							<span class="h3 ng-class:!th.autoPilotOn?'text-disabled':'';" style="vertical-align:top;">{{getThermoSetTemp_Frac(th.id)}}</span>
							</span></strong>

						</div>
					</td>
				
				</tr>
				
				<tr>
					<td style="vertical-align:bottom">
						<p style="display:inline;">
							<i class="icon ion-thermometer"></i>  
							<strong>{{getThermoSensorTemp(th.id, 0)}}</strong> 
							<i style="margin-left:5px" class="icon ion-waterdrop"></i>
							<strong>{{getThermoSensorRH(th.id)}}</strong>
						</p>
					</td>
					
					<td style="text-align:right;" >
						<div ng-show="!settings.houseHoliday" style="display:inline;">
							<button ng-disabled="!canTempDown(th.id) || !th.autoPilotOn" ng-click="doTempDown(th.id)" on-hold="holdTempSetBtn(false, true, th.id)" on-release="holdTempSetBtn(false, false, th.id)" class="button button-small button-positive button-outline" > 
								<i class="icon ion-arrow-down-a"></i> 
							</button>

							<button ng-disabled="!canTempUp(th.id) || !th.autoPilotOn"   ng-click="doTempUp(th.id)" on-hold="holdTempSetBtn(true, true, th.id)" on-release="holdTempSetBtn(true, false, th.id)" class="button button-small button-positive button-outline" > 
								<i class="icon ion-arrow-up-a"></i> 
							</button>
						</div>
						<div ng-show="settings.houseHoliday" style="display:inline;">
							<button ng-disabled="!canTempDown(th.id) || !th.autoPilotOn" ng-click="" on-hold="" on-release="" class="button button-small button-positive button-outline" > 
								<i style="margin:5px" class="icon icon-size-small ion-briefcase"></i> <strong>Vacanta</strong>
							</button>
						</div>
					</td>	
					

	
				</tr>
			
			</table>
			
		</ion-toggle>

		<ion-item class="item-accordion" ng-show="uiOpenedTH==th.id" >
			<span style="display:inline;float:left"><i class="icon icon-size-normal ion-ios-timer-outline"></i>
			<span style="margin-left:10px">Program</span>
			</span>
			
			<div style="display:inline;float:right">
				<p style="display:inline;">{{getThermoAutoPilotDescr(th.id)}}</p>
				<button ng-click="showAutopilotSettings(th.id)" class="button button-small button-outline">
					<i  class="icon ion-plus"></i>
				</button>
			</div>
		</ion-item>
		
		<ion-item class="item-accordion" ng-show="uiOpenedTH==th.id">

			<span style="display:inline;float:left"> 
				<i class="icon icon-size-normal ion-ios-speedometer-outline"></i>
				<span style="margin-left:10px">Istoric</span>
			</span>

			
			<div style="display:inline;float:right">
				<p style="display:inline;">incalzire 0.5*/h</p>
				<button ng-click="showRHMoreInfo(th.id)" class="button button-small button-outline">
					<i  class="icon ion-plus"></i>
				</button>
			</div>

		</ion-item>
		
		<ion-item class="item-accordion" ng-show="uiOpenedTH==th.id">

			<span style="display:inline;float:left"> 
				<i class="icon icon-size-normal ion-heart"></i>
				<span style="margin-left:10px">Sanatate </span>
				
			</span>
			
			<div style="display:inline;float:right">
				<p style="display:inline;">{{getHealthyDescrRH(th.id)}}</p>
				<button ng-click="showRHMoreInfo(th.id)" class="button button-small button-outline">
					<i  class="icon ion-information"></i>
				</button>
			</div>

		</ion-item>
		
		<ion-item class="item-accordion" ng-show="uiOpenedTH==th.id">
			
			<span style="display:inline;float:left"> 
				<i class="icon icon-size-normal ion-android-settings"></i> 
				<span style="margin-left:10px">Setari </span>
			</span>
			
			<p style="display:inline;float:right">
				<button ng-click="showTHSettings(th.id)" class="button button-small button-outline">
					<i  class="icon ion-plus"></i>
				</button>
			</p>
			
		</ion-item>
	</div>
	
	<div ng-repeat="heater in houseHeat">
		<ion-item class="item-divider" >
			
			<div style="display:inline;">
				<button style="display:inline;" ng-click="uiToggleShowHeater(heater.id)" class="button button-small button-outline">
						<i  class="icon" ng-class="uiOpenedHeater==heater.id ? 'ion-minus' : 'ion-plus'"></i>
				</button>
			</div>
			
			<div style="display:inline-table;padding-left:10px;width:80%">
			
				<div style="display:inline-block;width:20%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
					{{heater.title}} 
				</div>
			
				<div  style="display:inline;">
						<p style="display:inline;"><i class="icon icon-size-normal ion-flame"></i></p>
						<strong>PORNIT</strong> 
				</div>

				<p  style="display:list-item;">	
					<i class="icon ion-android-warning"></i>  
					<strong>Normal</strong> 
					<i style="margin-left:10px" class="icon ion-flame"></i>
					<strong>130 min astazi</strong>				
				</p>
			
			</div>

		</ion-item>

		
	</div>

	</ion-list>
  
	
	</ion-content>
</ion-view>
